/* Home page css */

@keyframes fadeIn {
  0% { opacity: .2; }
  100% { opacity: 1; }
}

@keyframes dropIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  animation: fadeIn 4s;
}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 15vh;
  color:antiquewhite;
  text-shadow: 1px 1px 1px #3c5c5e;
  animation: fadeIn 4s;
}

.dropAni {
  animation: dropIn 2s;
}

.spinAni {
  animation: spin 2s;
}

.fadeAni {
  animation: fadeIn 2s;
}